@mixin rounding($px) {
	border-radius: $px;
}

.btn {
    transition: box-shadow 0.2s ease-in-out;

    &:active {
        box-shadow: none;
    }
}

.btn-lg {
}

.btn-xl {
	font-size: 1.125rem;
    padding: 0.7rem 1.2rem;
    box-shadow: 0 10px 40px rgba(20, 20, 20, 0.2);
}

.btn-round {
	@include rounding(37px);
	&.btn-lg {
		@include rounding(45px);
	}
	&.btn-xl {
		@include rounding(51.38px);
	}
}

.btn-discord {
	background: $color-discord;
	color: white !important;
	&:hover {
		background: darken($color-discord, 5%);
	}
}
