#gallery {

}

#gallery .thumbnail {
	display: inline-block;
	margin-bottom: 30px;
	position: relative;
	width: 100%;
}

#gallery .thumbnail img {
	width: 100%;
	height: auto;
}

#gallery .thumbnail .info-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 15px;
}