#members .container {
	margin-top: 40px;
}

#members h4 {
	margin-top: 50px;
}

#members .member-card {
	margin-bottom: 60px;
}

#members .member-card img {
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
}

#members .user-link {
	font-size: 1.1rem;
}