@import 'values';

nav {
	background: $nav-bg;
	transition: $nav-transition;
}

nav.navbar-color {
	background: $nav-bg;
}

nav .navbar-brand img {
	height: $nav-icon;
}

nav .nav-item {
	margin: $nav-link-margin-normal;
}

nav .nav-item .nav-link {

}

nav .active {
	border-bottom: $nav-link-active-border;
}

nav.navbar-absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

@media all and (min-width: $viewport-width-large) {
	nav {
		background: $nav-bg-large;
	}

	nav.navbar-home .navbar-brand {
		font-size: $nav-brand-text-size;
	}

	nav.navbar-home .navbar-brand img {
		height: $nav-icon-large;
	}

	nav.navbar-home .nav-item {
		font-size: $nav-link-text-size !important;
		margin: $nav-link-margin !important;
	}
}