.showcase {
    .showcase-item {
        margin-bottom: 30px;
        transition: transform 0.3s ease-out;
        &.hidden {
            transform: scale(0);
        }
        .title {
            margin: 15px 0;
            font-size: 1.1rem;
            font-weight: 400;
            text-transform: uppercase;
        }
        img {
            box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
            transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
            &:hover {
                transform: scale(1.04);
                box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
            }
        }
    }
    .load-more {
        &.hidden {
            display: none;
        }
    }
}
