RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
# AuthType Basic
# AuthName "Password Required"
# AuthUserFile /var/www/dev.intercraftmc.com/public/.htpasswd
# Require valid-user