.btn {
    border-radius: 0 !important;
}

.btn-md {
    padding: 0.45rem 1rem;
}

.btn-round {
    @include rounding(37px);
    &.btn-lg {
        @include rounding(45px);
    }
    &.btn-billboard {
        @include rounding(51.38px);
    }
}

.btn-discord {
    background: $discord;
    color: white !important;
    &:hover {
        background: darken($discord, 5%);
    }
}
