#prebody {
    background: black;
    margin-top: 0;
    box-sizing: border-box;
}
header {
    color: white;
    position: relative;
    z-index: 50;

    &.video-header {
        height: 58px;
        width: 100%;
        overflow: hidden;
        transition: height 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);

        #particles_header {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 300;
        }
        .video-overlay {
            background: $header-video-overlay-color;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 300;

            .header-title-container, .header-motto-container {
                transition: opacity 0.5s ease-in-out;
            }

            h1, p {
                transition: font-size 0.5s ease-in-out;
                transition-delay: 0.0s;
            }
            h1 {
                text-shadow: $header-video-shadow-brand;
                text-transform: uppercase;
                margin-bottom: 0;
            }
            p.header-motto {
                text-shadow: $header-video-shadow-motto;
            }
        }

        &.video-header-normal {
            height: $header-video-height-normal;

            h1 {
                font-size: 2.8rem;
            }

            p.header-motto {
                font-size: 1.2rem;
            }
        }

        &.video-header-large {
            height: $header-video-height-large;

            p.header-motto {
                font-size: 1.6rem;
            }
        }
    }

    .text-invisible {
        opacity: 0 !important;
    }
}
