nav.navbar {
    transition: $nav-transition;
    padding: 0;
    &.navbar-color {
        background: $nav-bg;
    }
    &.navbar-absolute {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }
    .container-fluid {
        padding-left: 0;
    }
    .navbar-brand {
        box-sizing: border-box;
        position: relative;
        a {
            color: black;
            text-decoration: none;
            font-size: 1.3rem;
            padding-top: -20px;
            vertical-align: top;
            svg {
                vertical-align: top;
            }
            span {
                display: inline-block;
                padding-top: 10px;
                vertical-align: top;
            }
        }
        .loading-logo {
            height: $nav-icon;
            margin-right: 5px;
        }
    }
    .nav-item {
        margin: $nav-link-margin-normal;
    }
    .nav-item .nav-link {
        font-size: $nav-link-font-size;
        font-weight: $nav-link-font-weight;
    }
    .nav-item.active {
        border-bottom: $nav-link-active-border;
    }

    @include media-breakpoint-up (lg) {
        & .navbar-brand {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &.navbar-lg {
        .navbar-brand .loading-logo {
            height: $nav-icon-lg;
        }
        // .navbar-brand-angle {
        //     border-top-width: 60px;
        // }
    }
}
