section, footer {
    transition: transform $section-fade-duration,
                opacity $section-fade-duration;
    transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
    transform: translateY($section-intro-slide);
}
section {
    opacity: 0;
    padding-top: 60px;
    &.no-margin {
        padding-top: 0px;
    }
    .section-heading {
        margin-bottom: 40px;
        color: rgb(51, 51, 51);
        text-transform: uppercase;
    }

    @include media-breakpoint-down (md) {
        div.col-md-6 {
            margin-bottom: 40px !important;
        }
    }
}

footer {
    color: #aaa;
    .footer-top {
        background: #313439;
        padding: 20px 0;

        .footer-link {
            font-size: 1.8rem;
            margin: 0 10px;
            color: #aaa;
        }
    }
    .footer-bottom {
        background: #26282a;
        padding: 20px 0;
    }
}

.section-dark {
    background: #36393f;
    padding-bottom: 60px;
    color: white !important;
}

.visible {
    opacity: 100;
    transform: translateY(0px);
}

.no-slide {
    transform: translateY(0px) !important;
}

.section-bg {
    color: white !important;
    padding: 60px 0;
}

.section-bg-join {
    background-image: url("../img/apply_bg.png");
    background-size: cover;
    background-position: center center;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background: rgba($blue, 0.9);
        z-index: 1;
    }

    .container {
        z-index: 2;
    }
}
