.showcase {
    .showcase-image img {
        @include container-shadow();
        width: 100%;
        transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        &:hover {
            transform: scale(1.03);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
        }
    }
}
