// Body
$body-background: #f7f7f7;

// Typography
// $font-family-sans-serif: "Helvetica Nueue", sans-serif;
// $font-family-sans-serif: "Nunito", sans-serif;
$font-family-sans-serif: "IBM Plex Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$discord: #7289da;

// Navbar
$nav-bg: #fff;
$nav-bg-large: transparent;
$nav-brand-font-size: 25px;
$nav-icon: 50px;
$nav-icon-lg: 60px;
$nav-link-font-size: 1.1em;
$nav-link-font-weight: 400;
$nav-link-margin: 0 15px;
$nav-link-margin-normal: 0 8px;
$nav-link-active-border: 2px solid white;
$nav-transition-duration: 0.3s ease-in-out;

// Animation
$section-fade-duration: 0.5s;
$loading-duration: 0.4s;

// Video Header
$header-video-height-normal: 30vh;
$header-video-height-large: 70vh;
$header-video-overlay-color: rgba(0, 0, 0, 0.4);
$header-video-shadow-brand: 0 0 30px rgba(0, 0, 0, 0.8);
$header-video-shadow-motto: 0 0 15px rgba(0, 0, 0, 0.8);
