$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
$lg-path-fonts: "../../../node_modules/lightgallery.js/fonts" !default;
$lg-path-images: "../../../node_modules/lightgallery.js/img" !default;