
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:100,200,300,400,500,600,700|IBM+Plex+Sans:100,200,300,400,500,600,700');

// Variables
@import 'variables';

// Math
@import 'math';

// Mixins
@import 'mixins/mixins.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'buttons';

// SimpleBar
@import '~simplebar/dist/simplebar.css';

// Photoswipe
@import '~photoswipe/dist/photoswipe.css';
@import '~photoswipe/dist/default-skin/default-skin.css';

// Other
@import 'header';
@import 'billboard.scss';
@import 'navbar';
@import 'loading';
@import 'typography';
@import 'sections';

body {
    background: $body-background;
}

section:last-of-type {
    margin-bottom: 60px;
}
